[submodule "android"]
	path = android
	url = https://github.com/osmandapp/Osmand
[submodule "resources"]
	path = resources
	url = https://github.com/osmandapp/OsmAnd-resources
[submodule "help"]
	path = help
	url = https://github.com/osmandapp/osmandapp.github.io
[submodule "core-legacy"]
	path = core-legacy
	url = https://github.com/osmandapp/OsmAnd-core-legacy.git
[submodule "OsmAnd-core"]
	path = OsmAnd-core
	url = https://github.com/osmandapp/OsmAnd-core.git
